{
  "BTCUSDT": [
    71888,
    72753.6,
    73700,
    75500,
    77057,
    79388,
    80600,
    82222,
    83355,
    84595,
    85599.9,
    93150,
    99100,
    107411.4,
    111959.5,
    116189,
    120951.5
  ],
  "ETHUSDT": [
    1410,
    1752.5,
    1995.83,
    2137.64,
    2213.07,
    2284.68,
    2397.44,
    2473.2,
    2608,
    2719.89,
    2788.01,
    3169.28,
    3365.89,
    3472.23,
    3735.31,
    4098.64,
    4640,
    4957.67
  ],
  "SOLUSDT": [
    80.5,
    95.5,
    100.1,
    106.4,
    117.28,
    128.9,
    144.64,
    164,
    176.85,
    185.02,
    190.72,
    204.75,
    225.69,
    248.66,
    295.6
  ],
  "XAUUSDT": [
    4270,
    4340,
    4419.99,
    4550,
    4624.99,
    4889.91,
    4993,
    5110.47,
    5249.62,
    5452.69,
    5625.34
  ],
  "XAGUSDT": [
    83.72,
    86.35,
    93,
    89.91,
    909.25,
    94.86,
    102.9,
    99.24
  ],
  "BNBUSDT": [
    794,
    9932.67
  ]
  "0GUSDT": [
    1.151
  ],
  "1000000BOBUSDT": [
    0.02247
  ],
  "1000000MOGUSDT": [
    0.4041
  ],
  "1000BONKUSDT": [
    0.008832
  ],
  "1000CATUSDT": [
    0.003548
  ],
  "1000LUNCUSDT": [
    0.04732
  ],
  "1000PEPEUSDT": [
    0.0080095
  ],
  "1000RATSUSDT": [
    0.06555
  ],
  "1000SATSUSDT": [
    0.0000324
  ],
  "1000SHIBUSDT": [
    0.011278
  ],
  "1000WHYUSDT": [
    0.0000381
  ],
  "1000XECUSDT": [
    0.04388
  ],
  "1INCHUSDT": [
    0.6434
  ],
  "2ZUSDT": [
    0.14456
  ],
  "4USDT": [
    0.03405
  ],
  "A2ZUSDT": [
    0.004361
  ],
  "ACEUSDT": [
    0.955
  ],
  "ACHUSDT": [
    0.017173
  ],
  "ACTUSDT": [
    0.05286
  ],
  "ACUUSDT": [
    0.15561
  ],
  "AERGOUSDT": [
    0.07146
  ],
  "AEROUSDT": [
    1.3015
  ],
  "AEVOUSDT": [
    0.15353
  ],
  "AGTUSDT": [
    0.004477
  ],
  "AIAUSDT": [
    0.5
  ],
  "AIOTUSDT": [
    0.1256
  ],
  "AIOUSDT": [
    0.13087
  ],
  "AIUSDT": [
    0.19728
  ],
  "AKEUSDT": [
    0.0005171
  ],
  "ALLUSDT": [
    0.711
  ],
  "APRUSDT": [
    0.154
  ],
  "ARCUSDT": [
    0.07548
  ],
  "ARPAUSDT": [
    0.02686
  ],
  "ASRUSDT": [
    2.561
  ],
  "AVAAIUSDT": [
    0.02102
  ],
  "B2USDT": [
    0.9302
  ],
  "B3USDT": [
    0.003507
  ],
  "BANANAS31USDT": [
    0.006988
  ],
  "BANKUSDT": [
    0.05854
  ],
  "C98USDT": [
    0.06997
  ],
  "CATIUSDT": [
    0.122
  ],
  "CETUSUSDT": [
    0.0333
  ],
  "CFXUSDT": [
    0.10802
  ],
  "CGPTUSDT": [
    0.05398
  ],
  "CHESSUSDT": [
    0.05666
  ],
  "CHILLGUYUSDT": [
    0.029954
  ],
  "CHZUSDT": [
    0.05369
  ],
  "CKBUSDT": [
    0.007439
  ],
  "COAIUSDT": [
    0.6919
  ],
  "COOKIEUSDT": [
    0.14484
  ],
  "COWUSDT": [
    0.3292
  ],
  "CROSSUSDT": [
    0.15388
  ],
  "CTKUSDT": [
    0.3892
  ],
  "CUSDT": [
    0.10296
  ],
  "CVXUSDT": [
    2.318
  ],
  "CYBERUSDT": [
    1.9776
  ],
  "DEGENUSDT": [
    0.001603
  ],
  "DEGOUSDT": [
    0.5536
  ],
  "DEXEUSDT": [
    4.216
  ],
  "DIAUSDT": [
    0.3567
  ],
  "DOLOUSDT": [
    0.05042
  ],
  "DRIFTUSDT": [
    0.2066
  ],
  "EDENUSDT": [
    0.09292
  ],
  "EDUUSDT": [
    0.2464
  ],
  "ERAUSDT": [
    0.294
  ],
  "ETHFIUSDT": [
    0.916
  ],
  "EVAAUSDT": [
    1.4286
  ],
  "FARTCOINUSDT": [
    0.4761
  ],
  "FETUSDT": [
    0.3428
  ],
  "FFUSDT": [
    0.1086
  ],
  "FHEUSDT": [
    0.1127,
    0.165
  ],
  "FIGHTUSDT": [
    0.008222
  ],
  "FILUSDT": [
    1.743
  ],
  "FIOUSDT": [
    0.02151
  ],
  "FLOWUSDT": [
    0.259
  ],
  "FLUIDUSDT": [
    3.385
  ],
  "FLUXUSDT": [
    0.1296
  ],
  "FOGOUSDT": [
    0.02584,
    0.04093
  ],
  "FOLKSUSDT": [
    5.179
  ],
  "FORMUSDT": [
    0.4378
  ],
  "FORTHUSDT": [
    1.892
  ],
  "FRAXUSDT": [
    1.0248
  ],
  "FUNUSDT": [
    0.002399
  ],
  "FUSDT": [
    0.008799
  ],
  "GASUSDT": [
    4.711
  ],
  "GHSTUSDT": [
    0.207
  ],
  "GIGGLEUSDT": [
    69.59
  ],
  "GLMUSDT": [
    0.31096
  ],
  "GMTUSDT": [
    0.03611
  ],
  "GMXUSDT": [
    18.082
  ],
  "GOATUSDT": [
    0.09689
  ],
  "GPSUSDT": [
    0.01342
  ],
  "GRASSUSDT": [
    0.3769
  ],
  "GRIFFAINUSDT": [
    0.02379
  ],
  "GTCUSDT": [
    0.157
  ],
  "GUNUSDT": [
    0.413
  ],
  "HAEDALUSDT": [
    0.04864
  ],
  "HANAUSDT": [
    0.03514
  ],
  "HEIUSDT": [
    0.1519
  ],
  "HEMIUSDT": [
    0.01991
  ],
  "HFTUSDT": [
    0.0345
  ],
  "HIGHUSDT": [
    0.2615
  ],
  "HIPPOUSDT": [
    0.001337
  ],
  "HIVEUSDT": [
    0.11
  ],
  "HMSTRUSDT": [
    0.000313
  ],
  "HOLOUSDT": [
    0.08805
  ],
  "HOOKUSDT": [
    0.04473
  ],
  "HOTUSDT": [
    0.000578
  ],
  "HUMAUSDT": [
    0.031294
  ],
  "HYPERUSDT": [
    0.1325
  ],
  "HYPEUSDT": [
    28.36,
    34.4,
    38.253
  ],
  "ICPUSDT": [
    3.569
  ],
  "ICXUSDT": [
    0.0621
  ],
  "IDUSDT": [
    0.08914
  ],
  "ILVUSDT": [
    7.991
  ],
  "IMXUSDT": [
    0.3022
  ],
  "INITUSDT": [
    0.1233
  ],
  "INUSDT": [
    0.074
  ],
  "INXUSDT": [
    0.01543
  ],
  "IOTXUSDT": [
    0.00923
  ],
  "IOUSDT": [
    0.1829
  ],
  "IPUSDT": [
    2.214
  ],
  "IRUSDT": [
    0.08726
  ],
  "IRYSUSDT": [
    0.056649
  ]

}