{
  "BTCUSDT": {
    "short_threshold": 0.25,
    "middle_threshold": 0.5,
    "long_threshold": 1.0,
    "sl_small_pct": 0.001,
    "sl_big_pct": 0.002
  },
  "ETHUSDT": {
    "short_threshold": 0.55,
    "middle_threshold": 1.25,
    "long_threshold": 2.5,
    "sl_small_pct": 0.0025,
    "sl_big_pct": 0.005
  },
  "SOLUSDT": {
    "short_threshold": 0.6,
    "middle_threshold": 1.51,
    "long_threshold": 3.0,
    "sl_small_pct": 0.003,
    "sl_big_pct": 0.006
  },
  "XAUUSDT": {
    "short_threshold": 0.14,
    "middle_threshold": 0.28,
    "long_threshold": 0.55,
    "sl_small_pct": 0.0007,
    "sl_big_pct": 0.0014
  },
  "XAGUSDT": {
    "short_threshold": 0.8,
    "middle_threshold": 1.5,
    "long_threshold": 3.2,
    "sl_small_pct": 0.0066,
    "sl_big_pct": 0.0132
  }
}